<h2>Change Something About This Dude!!!</h2>
<form action="/celebrities/{{celebrity._id}}/edit" method="POST">
  <input type="text" name="name" placeholder="name">
  <input type="text" name="occupation" placeholder="occupation">
  <input type="text" name="catchPhrase" placeholder="Catch Phrase">
  <input type="hidden" name="_id">
  <input type="submit" value="Edit this dude">
</form>